<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
  <title>Contact</title>
</head>
<h2>Contact us!</h2>
<form th:action="@{/feedback}" method="post">
  <input type="hidden" name="formType" value="feedback" />
  <label>Name:</label>
  <input type="text" name="name" required /><br/>
  <label>Email:</label>
  <input type="email" name="email" required /><br/>
  <label>Message:</label>
  <textarea name="message" required></textarea><br/>
  <button type="submit">Send</button>
</form>
<p th:if="${feedback}" th:text="${feedback}"></p>
